<mat-card>
  <mat-list>
    <mat-card-title>Campaigns</mat-card-title>
    <div class="button-container">
      <button mat-fab (click)="createCampaign()" color="primary" aria-label="Icon button with add icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-list-item *ngFor="let campaign of campaigns">
      <div mat-line>{{campaign.name}}</div>
      <button (click)="updateCampaign(campaign.id)" mat-mini-fab color="primary" aria-label="Icon button with a edit icon">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="deleteCampaign()" mat-mini-fab color="primary" aria-label="Icon button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
